.continer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  place-self: center;
  margin: 1rem;
  padding: 3rem;
  border: 1px solid var(--button-text-color);
  box-shadow: -3px -3px 9px var(--button-text-color), 3px 3px 7px #1f4e78;
  border-radius: 1rem;
}

.input_original {
  padding: 0.5rem;
  width: 60%;
  box-shadow: -3px -3px 9px var(--button-text-color), 3px 3px 7px #1f4e78;
  border: none;
  outline: none;
  border-radius: 0.2rem;
}

.dropdown-continer {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  width: 64%;
}

.dropdown {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.2rem;
  outline: none;
  box-shadow: -3px -3px 9px var(--button-text-color), 3px 3px 7px #1f4e78;
  border: none;
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  box-shadow: -3px -3px 9px var(--button-text-color), 3px 3px 7px #1f4e78;
}
.right-top-text {
  width: 90%;
  padding: 0px 0px 1rem 0px;
  text-align: center;
  color: var(--secondry);
  border-bottom: 1px solid var(--button-text-color);
}

.List-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--button-text-color);
}

.List-items:hover {
  background-color: var(--background-color);
  opacity: 0.9;
}

.List-items .url-hash {
  text-decoration: solid;
  padding: 1rem;
  cursor: pointer;
  color: var(--secondry);
  text-decoration-line: underline;
  text-decoration-color: var(--secondry);
  font-weight: bold;
}

.validation-error {
  padding: 0.5rem;
  color: red;
}

@media screen and (max-width: 768px) {
  .continer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
