:root {
  --background-main: #fefefe;
  --background-color: #1f4e78;
  --button-text-color: #fefefe;
  --secondry: #23a8d5;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-main);
  color: var(--secondry);
}

button {
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  background-color: var(--background-color);
  color: var(--button-text-color);
  border-radius: 0.3rem;
  font-weight: bold;
}
button:hover {
  background-color: #2a5d8a;
}
button:active {
  transform: scale(1.2);
}
